@{
    Layout = "~/Views/shared/_Layout.cshtml";
}
@using System.Data;
@model DataTable;


<main class="main" id="main">
    <div class="body">

        <h3 class="text-success">
            @TempData["Message"]
        </h3>

        <div class="card">
            <h4 class="card-header">Search</h4>
            <div class="card-body">
                <div class="table-responsive">
                <form asp-area="LOC_City" asp-controller="LOC_City">
                    <div class="row">
                        <input type="text" class="form-control m-2 col" name="CityName" placeholder="Enter City Name" />
                        <input type="text" class="form-control m-2 col" name="CityCode" placeholder="Enter City Code" />
                        <input type="text" class="form-control m-2 col" name="CountryName" placeholder="Enter Country Name" />
                        <input type="text" class="form-control m-2 col" name="StateName" placeholder="Enter State Name" />
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" asp-action="Filtter"> Search </button>
                    <button type="submit" class="btn btn-danger mt-2" runat="server" OnClientClick="this.form.reset();return false;">Clear</button>
                </form>
            </div>
        </div>



        <div class="card">
            <h3 class="card-header">City List</h3>
            <div class="m-3">
                <a type="button" class="btn btn-success " asp-area="LOC_City" asp-action="City_AddEdit" asp-controller="LOC_City">Add new City</a>
            </div>
            <div class="card-body ">

        <table class="table mt-3">
            <thead>
                <tr>

                    <th scope="col">CityName</th>
                    <th scope="col">CityCode</th>
                    <th scope="col">CountryName</th>
                    <th scope="col">StateName</th>
                    <th scope="col">CreationDate</th>
                    <th scope="col">ModifyDate</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="sample_2">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["CityName"]</td>
                        <td>@dr["CityCode"]</td>
                        <td>@dr["CountryName"]</td>
                        <td>@dr["StateName"]</td>
                        <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                        <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                        <td>
                            <div class="d-flex">
                                <div class="me-2">
                                    <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Delete">
                                        <input type="hidden" value="@Convert.ToInt32(dr["CityID"])" name="CityID" />
                                        <button type="submit" class="btn btn-danger" value="Delete" onclick="fun1()"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>
                                <div class="ms-2">
                                    <form asp-area="LOC_City" asp-controller="LOC_City" asp-action="City_AddEdit">
                                        <input type="hidden" value="@Convert.ToInt32(dr["CityID"])" name="CityID" />
                                        <button type="submit" class="btn btn-info" value="Update"><i class="bi bi-pencil-square"></i></button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
    </div>
</main>





@section Scripts
    {
    @*@{*@
    <script>
        function fun1() {


            if (confirm("are you sure to delete this record??")) {
                return true;
            }
            else {
                return false;
            }
        }

    </script>
    @*await Html.RenderPartialAsync("_ValidationScriptsPartial");*@

    @*}*@

}