@{
    Layout = "~/Views/shared/_Layout.cshtml";
}
@using System.Data;
@model DataTable;

<main class="main" id="main">
    <div class="body">

        <div class="card">
            <h4 class="card-header">Search</h4>
            <div class="card-body">

                <form asp-area="LOC_State" asp-controller="LOC_State">
                    <div class="row">
                        <input type="text" class="form-control m-2 col" name="StateName" placeholder="Enter State Name" />
                        <input type="text" class="form-control m-2 col" name="StateCode" placeholder="Enter State Code" />
                        <input type="text" class="form-control m-2 col" name="CountryName" placeholder="Enter Country Name" />
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" asp-action="Filtter"> Search </button>
                    <button type="submit" class="btn btn-danger mt-2" runat="server" OnClientClick="this.form.reset();return false;">Clear</button>
                </form>
            </div>
        </div>

        <div class="card">
            <h3 class="card-header">State List</h3>
            <div class="m-3">
                <a type="button" class="btn btn-success " asp-area="LOC_State" asp-action="State_AddEdit" asp-controller="LOC_State">Add new State</a>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">StateName</th>
                    <th scope="col">StateCode</th>
                    <th scope="col">CountryName</th>
                    <th scope="col">Created</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="sample_2">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["StateName"]</td>
                        <td>@dr["StateCode"]</td>
                        <td>@dr["CountryName"]</td>
                        <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                        <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                        <td>
                            <div class="d-flex">
                                <div class="me-2">
                                    <form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="Delete">
                                        <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID" />
                                        <button type="submit" class="btn btn-danger" value="Delete" onclick="fun1()"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>
                                <div class="ms-2">
                                    <form asp-area="LOC_State" asp-controller="LOC_State" asp-action="State_AddEdit">
                                        <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID" />
                                        <button type="submit" class="btn btn-info" value="Update"><i class="bi bi-pencil-square"></i></button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
        </div>
    </div>
</main>


@section Scripts
    {
    @*@{*@
    <script>
        function fun1() {


            if (confirm("are you sure to delete this record??")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
    @*await Html.RenderPartialAsync("_ValidationScriptsPartial");*@

    @*}*@

}

